body {
    
    .navs {
        width: 100vw;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        position: fixed;

        background-color: grey;

        .logo {
            width: 50px;
            height: 50px;
            background-color: black;
        }



        nav {
            text-align: center;
            width: 25vw;
            align-content: center;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style-type: none;


                #contactLi {
                    justify-self: flex-end
                }
            }
        }
    }




    @media (max-width: 600px) {
        nav {
            display: none;
        }
    }
}